GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_ORDERS_WORKSHEET_NAME=orders
GOOGLE_SHEETS_ORDER_BILLS_WORKSHEET_NAME=order_bills
GOOGLE_SHEETS_ORDER_ITEMS_WORKSHEET_NAME=order_items
GOOGLE_SHEETS_PURCHASES_WORKSHEET_NAME=purchases
GOOGLE_SHEETS_USER_STATE_WORKSHEET_NAME=user_state
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_MAKE_FILES_READABLE_BY_LINK=false
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REFRESH_TOKEN=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_LEGACY_WEBHOOK_URL=
PUBLIC_BASE_URL=
