GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_ORDERS_WORKSHEET_NAME=orders
GOOGLE_SHEETS_ORDER_DETAILS_WORKSHEET_NAME=order_details
GOOGLE_SHEETS_PURCHASES_WORKSHEET_NAME=purchases
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
PUBLIC_BASE_URL=